<header>
  <h1>Personal-info</h1>
  <link rel="stylesheet" href="/styles.css">
</header>

<nav class="nav">
    <div>
          <ul>
            <li><a href="/personal-info">personal-info</a></li>
            <li><a href="/dataform">dataform</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/details">details</a></li>
            <li><a href="/logout">logout</a></li>
          </ul>
    </div>
  </nav>